body {
  background-color: #fbf8f4;
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif Display', serif;
  font-weight: 300;
  font-size: 15px;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif Display', serif; */

.button {
  margin: 30px;
  background-color: #39495c;
  border-radius: 5px;
  width: 160px;
  height: 60px;
  color: white;
  padding: 20px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}

.cart {
  margin: 25px 100px;
  float: right;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 1rem;
}

h3 {
  /* font-size: 25px; */
}

img {
  /* border: 2px solid black;
  background-color: #fbf8f4; */
  width: 100%;
  /* margin: 40px;
  padding: 15px; */
  /* -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57); */
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

label {
  /* font-size: 20px; */
  margin-bottom: 5px;
}

li {
  /* font-size: 18px; */
}

.announcement {
  background: linear-gradient(-90deg, #f4f3f1, #f4f3f1);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.announcement p {
  color: #003dff;
  text-align: center;
}

.out-of-stock-img {
  opacity: 0.5;
}

p {
  /* font-size: 22px; */
}

.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: end;
}

.product-image {
  width: 50%;
}

.product-info {
  width: 40%;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

.review-form .button {
  display: block;
  margin: 30px auto;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
}

.size-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.trouser-size {
  margin: 1rem 1rem 1rem 0rem;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    margin-left: 10px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}

#description {
  white-space: pre-line;
  font-size: 15px;
  font-weight: 300;
}

.none {
  display: none;
}

.circle-selection {
  display: flex;
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #fbf8f4 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.accordion-button:after {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVRYhe3WwQmEQBAEwDrTEIxDzEMDMQWTuxR8i3Howwx2j1OhG+bZQ/1meHE6LHcCRhy1S5ofQAIIIIAAAgigOqvrqv17FvhgQFsA7zFjKujCF1thF/kHAggggAACeABgd53yqpyWEiZ8nVoTDgAAAABJRU5ErkJggg==) !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed):after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVRYhe3WwQmEQBAEwDrTEIxDzEMDMQWTuxR8i3Howwx2j1OhG+bZQ/1meHE6LHcCRhy1S5ofQAIIIIAAAgigOqvrqv17FvhgQFsA7zFjKujCF1thF/kHAggggAACeABgd53yqpyWEiZ8nVoTDgAAAABJRU5ErkJggg==) !important;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) !important;
}

.accordion {
  border-radius: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.accordion-item {
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}

.last-item {
  border-bottom: none !important;
}

.details-list {
  list-style-type: disc;
}

.natalino {
  text-transform: capitalize;
  letter-spacing: 12px;
  font-family: 'DM Sans', sans-serif;
}
.nav-item-secondary {
  font-weight: 300;
  margin-top: 2rem;
  font-size: 14px;
}
.second-menu {
  margin-left: 8rem;
}

@media only screen and (max-width: 991px) {
  #navbarSupportedContent {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .nav-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .second-menu{
    display: none
  }
  .announcement{
    font-size: 10px;
    height: 50px;
    margin-bottom: .25rem;
  }
}
